:root {
  --maint-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --back-color: #FFFFFF;
  --color-sec: #434455;
  --color-main:#2e2f42;
  --color-button:#4d5ae5;
}
body {
  font-family: var(--maint-font);
  background-color:var(--back-color);
  color: var(--color-sec);
}
/* delete margin  */
h1,h2,h3,h4,p {
margin-top: 0;
margin-bottom: 0;}
ol,ul {
margin-top: 0;
margin-bottom: 0;
padding-left: 0;}
img {display: block;}
/* navigation link */
.link-logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-studio {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-main);
}
/* delete point */
.list {
  list-style: none;
}
/* delete down line */
.link {
  text-decoration: none;
}
/* style button */
button {
  cursor: pointer;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px}

/* header */
.main-header {  border-bottom: 1px solid #e7e9fc;}
.main-navigation {display: flex;
align-items: center;
}

.list-nav {padding-top: 24px;
  padding-bottom: 24px}
  
.list-navigation {
display: flex;
gap: 40px;
}


.header-container {display: flex;
  align-items: center;
}
.link-logo {margin-right: 76px;}
/* list navigation */
  .list-link { 
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-main);}
    .list-link:hover,
    .list-link:focus {color: #404BBF;}
    .list-link:visited {color:#2E2F42;}
/* mobile and mail */
.adress-list {display: flex;
gap: 40px;}


.adress-nav {
  font-style:normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-sec);
  margin-left: auto;
}

.adress-link {
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: var(--color-sec);
}

.adress-link:focus,
.adress-link:hover {
  color: #404bbf;
}
/* hero page  and button*/
.main-section {
  padding: 188px 0;
  background-color: #2e2f42;
}
.main-text-head {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  max-width: 496px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.button-order {
  display: block;
  font-family: var(--maint-font);
  min-width: 169px;
  min-height: 56px;
  left: 636px;
  top: 428px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  /* text in  button */
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}
  
/* background button */
.button-order:hover,
.button-order:focus {
  background-color: #404BBF;
}

/* strategy 2 */
.strategy-block {
  padding-top: 120px;
  padding-bottom: 120px;}
.strategy-head {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  
}
.strategy-head-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
.strategy-list {
  display: flex;
  gap: 24px;}
  .strategy-list-second {
    width: calc((100% - 72px) / 4);}

/* what are you */
.what-are-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;}
.what-are-list {display: flex;
gap: 24px;}
.what-are-list-sec {
  width: calc((100%-48px)/3);
}
.div-whatareyou {padding-bottom: 120px;}

/* team section */
.team-div {padding-top: 120px;
padding-bottom: 120px;}
.team {
  background-color: #f4f4fd;
}
.team-list {display: flex;
gap: 24px;}

.team-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
/* team list */
.team-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-list-img {
  background-color: #FFFFFF;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

/* team list profession (p) */
.team-list-prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
/* footer logo and text */
.footer-main {padding-bottom: 100px;
padding-top: 100px;}


.footer {
  background-color: #2e2f42;
}
.logo-footer {
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* PORTFOLIO CSS */
/* PORTFOLIO CSS */
/* PORTFOLIO CSS */

/* Filter buttons */
.portfolio-btn{
  font-family: var(--maint-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-button);
  background: #f4f4fd;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}
.portfolio-btn:focus,
.portfolio-btn:hover
{ background-color: #404BBF;
color: #FFFFFF;}
/* photo list */
.photo-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.photo-tag {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
